<!DOCTYPE html>
<html>
<head>
  <title>Passport demo</title>
</head>
<body>
  <% if (!isAuthenticated) { %>
      <a href="/login">Log in here</a>
  <% } else { %>
      Hello, <%= user.name %>
      <a href="/logout">Log out here</a>
  <% } %>
</body>
</html>
